In [1]:
import numpy as np
import pandas as pd
from os import listdir
from os.path import isfile, join

In [2]:
files = [f for f in listdir("zak_data") if isfile(join("zak_data", f))]

In [3]:
files

['2020-05-24.csv',
 '2020-05-31.csv',
 '2020-07-19.csv',
 '2020-07-26.csv',
 '2020-04-05.csv',
 '2020-06-28.csv',
 '2020-06-14.csv',
 '2020-04-12.csv',
 '2020-08-16.csv',
 '2020-08-02.csv',
 '2020-06-07.csv',
 '2020-03-22.csv',
 '2020-03-08.csv',
 '2020-04-19.csv',
 '2020-08-30.csv',
 '2020-06-21.csv',
 '2020-04-26.csv',
 '2020-08-23.csv',
 '2020-03-01.csv',
 '2020-03-15.csv',
 '2020-03-29.csv',
 '2020-08-09.csv',
 '2020-05-10.csv',
 '2020-07-05.csv',
 '2020-05-03.csv',
 '2020-05-17.csv',
 '2020-07-12.csv']

In [13]:
test_df = pd.read_csv("zak_data/2020-03-08.csv")

In [14]:
test_df.head(1)

,date,user,text,retweets,favorites,mentions,hashtags,geolocation
0,2020-03-14 23:50:33+00:00,BryanMancia,All perreo activities are postponed this weeke...,0,0,NaN,NaN,NaN

In [4]:
final_df = pd.DataFrame()
for f in files:
    df = pd.read_csv("zak_data/" + f)
    final_df = pd.concat([final_df,df])

In [5]:
final_df.shape

(24474, 8)

In [7]:
final_df['date'] = pd.to_datetime(final_df['date'])

In [8]:
final_df.set_index('date',inplace=True)
final_df.sort_index(inplace=True)

In [12]:
final_df['2020-03-02']

,user,text,retweets,favorites,mentions,hashtags,geolocation
date,,,,,,,
2020-03-02 01:35:57+00:00,RafaelAnchia,Trade being substantially impacted by #CoronaV...,1,6,NaN,#CoronaVirus #IRED #TXlege #Ports,NaN
2020-03-02 01:48:15+00:00,benny_haley,Lawd bless all the members out there doomsday ...,0,0,NaN,#Coronavirus,NaN
2020-03-02 02:23:47+00:00,wyer222,IF i get to go back to Germany ( post coronavi...,0,2,NaN,NaN,NaN
2020-03-02 02:25:29+00:00,DallasAnalytics,"Second coronavirus death reported in the US, h...",0,1,NaN,NaN,NaN
2020-03-02 02:28:44+00:00,T3MP3STT,First positive coronavirus case is confirmed i...,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
2020-03-02 23:47:52+00:00,iam_JC1,#coronavirus Deja 6 ka lanm√≤ nan Etazini e pli...,0,4,NaN,#coronavirus,NaN
2020-03-02 23:49:14+00:00,T3MP3STT,"Coronavirus: Global death toll surpasses 3,000...",0,0,NaN,NaN,NaN
2020-03-02 23:52:36+00:00,t_borondy,My bf is convinced he has the coronavirus beca...,0,0,NaN,NaN,NaN
2020-03-02 23:57:33+00:00,TreyGee254,You mean to tell me the residents in Sub-Sahar...,0,1,NaN,NaN,NaN
2020-03-02 23:58:40+00:00,CsAiSl9,This coronavirus shit is stressing me out!!!,0,2,NaN,NaN,NaN

In [87]:
final_df.to_csv('zak_data/dallas_2020.csv')

In [62]:
cases = pd.read_csv('zak_data/texas_covid19_hospital.csv')

In [63]:
texcov = cases.T

In [64]:
texcov = texcov.rename(columns=texcov.iloc[0]).drop(texcov.index[0])

In [65]:
texcov['Dallas/Ft. Worth']

2020-04-12    369
2020-04-13    365
2020-04-14    373
2020-04-15    449
2020-04-16    470
             ...
2020-09-12    741
2020-09-13    762
2020-09-14    776
2020-09-15    742
2020-09-16    732
Name: Dallas/Ft. Worth, Length: 158, dtype: object

In [ ]:
final_df['target'] = [x for x in texcov['Dallas/Ft. Worth'] if ]

In [66]:
texcov['date'] = texcov.index

In [48]:
texcov['date'].tail(20)

2020-08-28    2020-08-28
2020-08-29    2020-08-29
2020-08-30    2020-08-30
2020-08-31    2020-08-31
2020-09-01    2020-09-01
2020-09-02    2020-09-02
2020-09-03    2020-09-03
2020-09-04    2020-09-04
2020-09-05    2020-09-05
2020-09-06    2020-09-06
2020-09-07    2020-09-07
2020-09-08    2020-09-08
2020-09-09    2020-09-09
2020-09-10    2020-09-10
2020-09-11    2020-09-11
2020-09-12    2020-09-12
2020-09-13    2020-09-13
2020-09-14    2020-09-14
2020-09-15    2020-09-15
2020-09-16    2020-09-16
Name: date, dtype: object

In [67]:
texcov[texcov['date'].str.contains('39668')]['date']

39668    39668
Name: date, dtype: object

In [70]:
texcov.loc['39668','date'] = '2020-08-08'

In [72]:
texcov.loc['44059','date'] = '2020-08-16'

In [73]:
texcov['date'] = pd.to_datetime(texcov['date'])

In [75]:
texcov.set_index('date',inplace=True)
texcov.sort_index(inplace=True)

In [76]:
texcov.head()

,Amarillo,Lubbock,Wichita Falls,Abilene,Dallas/Ft. Worth,Paris,Longview/Tyler,Lufkin,El Paso,Midland/Odessa,...,Bryan/College Station,Austin,San Antonio,Houston,Galveston,Victoria,Laredo,Corpus Christi,Lower Rio Grande Valley,Statewide Total
date,,,,,,,,,,,,,,,,,,,,,
2020-04-12,17,34,5,6,369,14,32,15,14,10,...,24,22,57,516,76,16,25,9,57,1338
2020-04-13,17,35,5,7,365,16,26,18,23,11,...,31,26,57,319,84,21,24,12,65,1176
2020-04-14,17,31,6,2,373,21,33,23,12,17,...,13,28,64,527,97,22,28,9,68,1409
2020-04-15,40,34,4,6,449,18,32,15,30,7,...,13,30,65,584,96,21,26,12,65,1568
2020-04-16,18,32,5,5,470,15,36,28,24,10,...,16,22,30,511,101,19,27,7,61,1459

In [80]:
final_df.resample('D')

In [83]:
dallascov = texcov[['Dallas/Ft. Worth']]

In [88]:
dallascov.to_csv('zak_data/dallas_target.csv')

In [89]:
pd.read_csv('zak_data/dallas_target.csv')

           date  Dallas/Ft. Worth
0    2020-04-12               369
1    2020-04-13               365
2    2020-04-14               373
3    2020-04-15               449
4    2020-04-16               470
..          ...               ...
153  2020-09-12               741
154  2020-09-13               762
155  2020-09-14               776
156  2020-09-15               742
157  2020-09-16               732

[158 rows x 2 columns]

In [90]:
pd.read_csv('zak_data/dallas_2020.csv')

,date,user,text,retweets,favorites,mentions,hashtags,geolocation
0,2020-03-02 01:35:57+00:00,RafaelAnchia,Trade being substantially impacted by #CoronaV...,1,6,NaN,#CoronaVirus #IRED #TXlege #Ports,NaN
1,2020-03-02 01:48:15+00:00,benny_haley,Lawd bless all the members out there doomsday ...,0,0,NaN,#Coronavirus,NaN
2,2020-03-02 02:23:47+00:00,wyer222,IF i get to go back to Germany ( post coronavi...,0,2,NaN,NaN,NaN
3,2020-03-02 02:25:29+00:00,DallasAnalytics,"Second coronavirus death reported in the US, h...",0,1,NaN,NaN,NaN
4,2020-03-02 02:28:44+00:00,T3MP3STT,First positive coronavirus case is confirmed i...,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
24469,2020-09-05 23:54:22+00:00,chris_edgrd,En plus dans cette p√©riode de covid l√†,0,1,NaN,NaN,NaN
24470,2020-09-05 23:58:18+00:00,hangebanger,Place called BurgerIM in Wylie is the tits,0,0,NaN,NaN,NaN
24471,2020-09-05 23:58:23+00:00,SilentEagle91,Blame Covid and the governors who thought it w...,0,4,NaN,NaN,NaN
24472,2020-09-05 23:59:38+00:00,bobj72,1/3 9/05/20; 2400 GMT [1900 CST] U.S. COVID-19...,0,0,NaN,NaN,NaN
24473,2020-09-05 23:59:47+00:00,DoglegBrewer,Even with COVID and him being the current true...,0,0,NaN,NaN,NaN

In [92]:
final_df['day'] = final_df.index.date

In [93]:
final_df.head()

,user,text,retweets,favorites,mentions,hashtags,geolocation,day
date,,,,,,,,
2020-03-02 01:35:57+00:00,RafaelAnchia,Trade being substantially impacted by #CoronaV...,1,6,NaN,#CoronaVirus #IRED #TXlege #Ports,NaN,2020-03-02
2020-03-02 01:48:15+00:00,benny_haley,Lawd bless all the members out there doomsday ...,0,0,NaN,#Coronavirus,NaN,2020-03-02
2020-03-02 02:23:47+00:00,wyer222,IF i get to go back to Germany ( post coronavi...,0,2,NaN,NaN,NaN,2020-03-02
2020-03-02 02:25:29+00:00,DallasAnalytics,"Second coronavirus death reported in the US, h...",0,1,NaN,NaN,NaN,2020-03-02
2020-03-02 02:28:44+00:00,T3MP3STT,First positive coronavirus case is confirmed i...,0,0,NaN,NaN,NaN,2020-03-02

In [94]:
dallascov['day'] = dallascov.index.date

/Users/zakz/anaconda3/envs/dsi/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

           Dallas/Ft. Worth         day
date
2020-04-12              369  2020-04-12
2020-04-13              365  2020-04-13
2020-04-14              373  2020-04-14
2020-04-15              449  2020-04-15
2020-04-16              470  2020-04-16

In [97]:
dallascov.groupby('day')['Dallas/Ft. Worth'].max()

day
2020-04-12    369
2020-04-13    365
2020-04-14    373
2020-04-15    449
2020-04-16    470
             ...
2020-09-12    741
2020-09-13    762
2020-09-14    776
2020-09-15    742
2020-09-16    732
Name: Dallas/Ft. Worth, Length: 158, dtype: int64

In [106]:
final_df['counts'] = final_df['day'].map(dallascov.groupby('day')['Dallas/Ft. Worth'].max())

In [ ]:
[['text','retweets','favorites','hashtags','counts']]

,text,retweets,favorites,hashtags,day,counts
date,,,,,,
2020-04-15 02:26:03+00:00,Super wild looking at that vs COVID-19. Not su...,0,0,NaN,2020-04-15,449.0
2020-04-15 02:40:52+00:00,10 new COVID deaths in Dallas in one day???? O...,0,1,NaN,2020-04-15,449.0
2020-04-15 02:54:40+00:00,"So besides being a bigoted tw*t, he believes t...",0,0,#Stillbisexual #LGBTQIA #NewYork #tentHospital...,2020-04-15,449.0
2020-04-15 03:01:32+00:00,"""How is South Korea holding an election amid t...",0,0,NaN,2020-04-15,449.0
2020-04-15 03:06:06+00:00,Some North Texas doctors skeptical about new C...,0,0,NaN,2020-04-15,449.0
...,...,...,...,...,...,...
2020-09-05 23:54:22+00:00,En plus dans cette p√©riode de covid l√†,0,1,NaN,2020-09-05,893.0
2020-09-05 23:58:18+00:00,Place called BurgerIM in Wylie is the tits,0,0,NaN,2020-09-05,893.0
2020-09-05 23:58:23+00:00,Blame Covid and the governors who thought it w...,0,4,NaN,2020-09-05,893.0
2020-09-05 23:59:38+00:00,1/3 9/05/20; 2400 GMT [1900 CST] U.S. COVID-19...,0,0,NaN,2020-09-05,893.0
2020-09-05 23:59:47+00:00,Even with COVID and him being the current true...,0,0,NaN,2020-09-05,893.0

In [141]:
final_df.dropna(subset=['counts', 'text'],inplace=True)

In [148]:
final_df.drop(columns=['mentions','geolocation','user'],inplace=True)

In [156]:
final_df.fillna('empty',inplace=True)

In [158]:
final_df.to_csv('zak_data/clean_dallas.csv')