In [30]:
import pandas as pd

In [31]:
df = pd.read_csv('dallas_2020.csv')
df_target = pd.read_csv('dallas_target.csv')

In [32]:
df_target

           date  Dallas/Ft. Worth
0    2020-04-12               369
1    2020-04-13               365
2    2020-04-14               373
3    2020-04-15               449
4    2020-04-16               470
..          ...               ...
153  2020-09-12               741
154  2020-09-13               762
155  2020-09-14               776
156  2020-09-15               742
157  2020-09-16               732

[158 rows x 2 columns]

In [33]:
df.head()

,date,user,text,retweets,favorites,mentions,hashtags,geolocation
0,2020-03-02 01:35:57+00:00,RafaelAnchia,Trade being substantially impacted by #CoronaV...,1,6,NaN,#CoronaVirus #IRED #TXlege #Ports,NaN
1,2020-03-02 01:48:15+00:00,benny_haley,Lawd bless all the members out there doomsday ...,0,0,NaN,#Coronavirus,NaN
2,2020-03-02 02:23:47+00:00,wyer222,IF i get to go back to Germany ( post coronavi...,0,2,NaN,NaN,NaN
3,2020-03-02 02:25:29+00:00,DallasAnalytics,"Second coronavirus death reported in the US, h...",0,1,NaN,NaN,NaN
4,2020-03-02 02:28:44+00:00,T3MP3STT,First positive coronavirus case is confirmed i...,0,0,NaN,NaN,NaN

In [34]:
df['date'] = pd.to_datetime(df['date'])
df_target['date'] = pd.to_datetime(df_target['date'])

df.set_index('date', inplace = True)
df_target.set_index('date', inplace = True)

In [35]:
df.head()

,user,text,retweets,favorites,mentions,hashtags,geolocation
date,,,,,,,
2020-03-02 01:35:57+00:00,RafaelAnchia,Trade being substantially impacted by #CoronaV...,1,6,NaN,#CoronaVirus #IRED #TXlege #Ports,NaN
2020-03-02 01:48:15+00:00,benny_haley,Lawd bless all the members out there doomsday ...,0,0,NaN,#Coronavirus,NaN
2020-03-02 02:23:47+00:00,wyer222,IF i get to go back to Germany ( post coronavi...,0,2,NaN,NaN,NaN
2020-03-02 02:25:29+00:00,DallasAnalytics,"Second coronavirus death reported in the US, h...",0,1,NaN,NaN,NaN
2020-03-02 02:28:44+00:00,T3MP3STT,First positive coronavirus case is confirmed i...,0,0,NaN,NaN,NaN

In [39]:
df.index[0].date()

datetime.date(2020, 3, 2)

In [40]:
df['day'] = df.index.date

In [41]:
df.head()

,user,text,retweets,favorites,mentions,hashtags,geolocation,day
date,,,,,,,,
2020-03-02 01:35:57+00:00,RafaelAnchia,Trade being substantially impacted by #CoronaV...,1,6,NaN,#CoronaVirus #IRED #TXlege #Ports,NaN,2020-03-02
2020-03-02 01:48:15+00:00,benny_haley,Lawd bless all the members out there doomsday ...,0,0,NaN,#Coronavirus,NaN,2020-03-02
2020-03-02 02:23:47+00:00,wyer222,IF i get to go back to Germany ( post coronavi...,0,2,NaN,NaN,NaN,2020-03-02
2020-03-02 02:25:29+00:00,DallasAnalytics,"Second coronavirus death reported in the US, h...",0,1,NaN,NaN,NaN,2020-03-02
2020-03-02 02:28:44+00:00,T3MP3STT,First positive coronavirus case is confirmed i...,0,0,NaN,NaN,NaN,2020-03-02

In [42]:
df_target['day'] = df_target.index.date

In [44]:
df_target.groupby('day')['Dallas/Ft. Worth'].max()

day
2020-04-12    369
2020-04-13    365
2020-04-14    373
2020-04-15    449
2020-04-16    470
             ...
2020-09-12    741
2020-09-13    762
2020-09-14    776
2020-09-15    742
2020-09-16    732
Name: Dallas/Ft. Worth, Length: 158, dtype: int64

In [46]:
df['counts'] = df['day'].map(df_target.groupby('day')['Dallas/Ft. Worth'].max())

In [47]:
df

,user,text,retweets,favorites,mentions,hashtags,geolocation,day,counts
date,,,,,,,,,
2020-03-02 01:35:57+00:00,RafaelAnchia,Trade being substantially impacted by #CoronaV...,1,6,NaN,#CoronaVirus #IRED #TXlege #Ports,NaN,2020-03-02,NaN
2020-03-02 01:48:15+00:00,benny_haley,Lawd bless all the members out there doomsday ...,0,0,NaN,#Coronavirus,NaN,2020-03-02,NaN
2020-03-02 02:23:47+00:00,wyer222,IF i get to go back to Germany ( post coronavi...,0,2,NaN,NaN,NaN,2020-03-02,NaN
2020-03-02 02:25:29+00:00,DallasAnalytics,"Second coronavirus death reported in the US, h...",0,1,NaN,NaN,NaN,2020-03-02,NaN
2020-03-02 02:28:44+00:00,T3MP3STT,First positive coronavirus case is confirmed i...,0,0,NaN,NaN,NaN,2020-03-02,NaN
...,...,...,...,...,...,...,...,...,...
2020-09-05 23:54:22+00:00,chris_edgrd,En plus dans cette pÃ©riode de covid lÃ,0,1,NaN,NaN,NaN,2020-09-05,893.0
2020-09-05 23:58:18+00:00,hangebanger,Place called BurgerIM in Wylie is the tits,0,0,NaN,NaN,NaN,2020-09-05,893.0
2020-09-05 23:58:23+00:00,SilentEagle91,Blame Covid and the governors who thought it w...,0,4,NaN,NaN,NaN,2020-09-05,893.0
2020-09-05 23:59:38+00:00,bobj72,1/3 9/05/20; 2400 GMT [1900 CST] U.S. COVID-19...,0,0,NaN,NaN,NaN,2020-09-05,893.0
2020-09-05 23:59:47+00:00,DoglegBrewer,Even with COVID and him being the current true...,0,0,NaN,NaN,NaN,2020-09-05,893.0